*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
b{
    font-size: 18px;
    color:beige;
}
.img img{
    border-radius: 50%;
    margin-left: 15%;
    
}
.textonimg{
    width: 80%;
    position: absolute;
    top:35%;
    left:10%;
    color: purple;
}
.img img:hover{
    border:10px solid green;
}
.textonimg:hover{
    font-size: 36px;
    transform: scaleX(1.3);
    text-shadow: 2px 2px rgb(142, 238, 142);
}
.imgandtext{
    margin-bottom: 20px;
}
.textcont{
    width:fit-content;
    overflow: scroll;
    margin-bottom: 100px;

}
.toggle{
    position: fixed;
    top:0%;
    left: 0%;
}
.home{
    margin-top: 10%;
}
.container{
    border: 5px solid rgb(43, 57, 43);
    height: fit-content;
    border-radius: 3px;
    backdrop-filter: blur(20px);
    margin-left:5%;
    justify-content: center;
    padding: 5% 5% 5% 5%;
}
.home div{
    margin-bottom: 10%;
}
.container ul{
    padding-left: 3%;
}
.workspace{
    margin-top: 10%;
}
.wcont{
    width:90%;
    margin-left: 5%;
    margin-bottom: 10%;
    border: 5px solid rgb(80, 78, 56);
    height: fit-content;
    backdrop-filter: blur(20px);
    display: block;
    margin-bottom: 10%;
}
.wcontimg img{
    width:90%;
    margin-top: 5%;
    margin-left: 5%;
    height:fit-content;
}
.wcontimg img:hover{
border: 5px solid rgb(151, 242, 151);
}
.wconttext{
    padding:5% 5% 0% 5%;
    text-overflow: ellipsis;
}
.addclassbut{
    box-shadow: 0 0 10px #ca82e0, 0 0 20px #ca82e0, 0 0 30px #ca82e0, 0 0 40px #ca82ca;

}
.wcont button{
    width:80%;
    margin:10% 10% 10% 10%;
    overflow: scroll;
    background-color:transparent;
    backdrop-filter: blur(20px);
    border-radius: 2%;
    border: 3px solid rgb(221, 234, 117);
    height: 5%;
    color: aqua;
    font-size: 20px;
}
.wcont button:hover{
    border: 3px solid green;
}
.textcontcontact{
    margin-top: 10%;
    margin-left: 10%;
    width:80%;
    backdrop-filter: blur(10px);
    border: 3px solid rgb(55, 77, 55);
}
.textcontcontact .toptext{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    padding:3% 3% 3% 3%; 
    border: 5px solid rgb(171, 96, 136);

}
.textcontcontact .items{
    width:80%;
    margin-left: 10%;
}
.textcontcontact .items .links{
    padding-left: 15%;
    border:4px solid rgb(89, 89, 121);
    width:90%;
    margin-left: 5%;
    align-items: center;
    margin-top: 10%;
    align-content: center;
}
.textcontcontact .links svg{
    background-color: azure;
    border: 3px solid purple;
    width: 30px;
    height: 30px;
    display: inline-flex;
    margin:4% 4% 4% 4%;
}
.aboutblock{
    border: 5px solid pink;
    margin-top: 20%;
    margin-left: 10%;
    width:80%;
    height: fit-content;
    backdrop-filter: blur(30px);
}
.aboutblockmatter{
    padding: 5% 5% 5% 5%;
}
.education{
    width:90%;
    height: fit-content;
    margin-top: 10%;
    margin-left: 5%;
    backdrop-filter: blur(20px);
    border:5px solid rgb(174, 174, 96);
}
.instu{
    width:90%;
    height: fit-content;
    margin: 5% 5% 5% 5%;
    border:3px solid olive;
}
.instuimg{
    align-content: center;
    padding-top: 5%;
    padding-left: 5%;
}
.instuimg img{
    width: 90%;
    height: fit-content;
}
.instumatter{
    padding: 5% 5% 5% 5%;

}
@media screen and (max-width:510px){
.sidenav{
    display: none;
    width:50%;
    height: fit-content;
    border: 5px solid rgb(67, 65, 45);
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 3px;
    position: fixed;
    left: 0px;
    top:5.5%;
}
.sidenav ul{
    list-style-type: none;
}
.sidenav ul li{
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid beige;
    color: white;
    font-size: 20px;
    text-align: center;
}
.sidenav ul li:hover{
    background-color: beige;
    color: rgb(1, 34, 1);
}
}
@media screen and (max-width:460px){
    .textonimg{
        padding-left: 10%;
        width: 80%;
        position: absolute;
        top:35%;
        left:0%;
    }
    
}
@media screen and (max-width:420px) {
    .textonimg{
        position: absolute;
        top:35%;
        left:0%;
        margin-left: 4%;
        
        font-size: 35px;
    }

    }
@media screen and (max-width:380px){
    .textonimg{
        position: absolute;
        top:35%;
        margin-left: 3%;
    
    }
    @media screen and (max-width:370px){
        .textonimg{
            position: absolute;
            top:35%;
            margin-left: 0%;
            font-size: 26px;
        
        }
        .textonimg:hover{
            font-size: 32px;
        }
}
@media screen and (max-width:340px){
    .textonimg{
        position: absolute;
        top:35%;
        margin-left: 0%;
    
    }
    .textonimg:hover{
        font-size: 30px;
    }

}
@media screen and (max-width:320px){
    .textonimg{
        position: absolute;
        top:35%;
        margin-left: 3%;
        font-size:24;
    
    }
    .textonimg:hover{
        font-size: 27px;
    }
}
